<!-- <!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    </style>
</head>
<body>
    <a href="/">Back to Home</a>
    <h1>Object Measurement</h1>
    <form action="/upload1" method="post" enctype="multipart/form-data">
        <label for="file">Select a file to upload:</label>
        <input type="file" name="file" id="file">
        <br><br>
        <input type="submit" value="Calculate">
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/images/logo.svg" type="image/svg">
    <title>CV Project</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/photo.css">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>

<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="/">
                                <img class="header-logo-image" src="static/images/logo.svg" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">Object Measurement with Precision</h1>
                            <p class="hero-paragraph">Elevate your analysis with real-time object measurement
                                capabilities. Utilize advanced algorithms to measure the dimensions, distances,
                                and properties of detected objects, bringing a new level of precision and depth
                                to your visual data.
                            </p>
                        </div>
                        <div class="hero-figure anime-element">
                            <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                                <rect width="528" height="396" style="fill:transparent;" />
                            </svg>
                            <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                            <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                            <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                            <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                            <div class="hero-figure-box hero-figure-box-05"></div>
                            <div class="hero-figure-box hero-figure-box-06"></div>
                            <div class="hero-figure-box hero-figure-box-07"></div>
                            <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                            <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                            <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="profile-photo-div" id="profile-photo-div">
                <div class="profile-img-div" id="profile-img-div">
                    <div id="loader"></div><img id="profile-img"
                        src="https://s3.amazonaws.com/FringeBucket/default-user.png" />
                    <input id="x-position" type="range" name="x-position" value="0" min="0" />
                    <input id="y-position" type="range" name="y-position" value="0" min="0" />
                </div>
                <div class="profile-buttons-div">
                    <div class="profile-img-input" id="profile-img-input">
                        <form action="/upload1" method="post" enctype="multipart/form-data">
                            <label for="file">Select a file to upload:</label>
                            <input type="file" name="file" id="file">
                            <br><br>
                            <div class="sub">
                                <input type="submit" value="Calculate">
                            </div>
                        </form>
                    </div>
                    <div class="profile-img-confirm" id="profile-img-confirm" style="display: none;">
                        <div class="button half green" id="save-img"><i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div class="button half red" id="cancel-img"><i class="fa fa-remove" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="error" id="error">min sizes 400*400px</div>
            <canvas id="croppedPhoto" width="400" height="400"></canvas>



        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="footer-copyright">Done by, <br>CS20B1130 G Praneeth Kumar<br>CS20B1072 P Vinay<br>CS20B1071
                    Gokul K<br>CS20B1079 Y V Durga Prasad<br><br></div>
                <div class="footer-copyright">&copy; 2023, all rights reserved</div>
            </div>
        </footer>
    </div>

    <script src="static/js/main.min.js"></script>
    <script src="static/js/photo.js"></script>
</body>

</html>